html
    head
        title Second Google Page
    body
        include ./template.pug
            if(user)
                h1 Hi, #{user}!
            else
                p U are unlogged! Please 
                    a(href="/auth/google") log in!

            p Hello, what's up? <br> Nothing here!